<!DOCTYPE html>
<html>
	<head>
		<title>To Do App</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="todoapp.css">
	</head>
	<body>
		<div id="todoapp">
			<h1>To do App</h1>
			<!-- Controls for the application -->
			<!-- Switch between the two different display modes -->
			<button v-if="state==='edit'" @click="changeState('view')">View</button>
			<button v-if="state==='view'" @click="changeState('edit')">Edit</button>
			<br>
			<!-- User inputs for add new Tasks -->
			<input type="text" v-model="newTaskLabel">
			<input type="text" v-model="newTaskCategory">
			<input type="number" v-model="newTaskPriority">
			<input type="date" v-model="newTaskDueDate">
			<button @click="addTask" :disabled="newTaskLabel.length===0">Add Task</button>
			<br>
			<div>
				<!-- Headers for each Column-->
				<div class="header-container">
					<div class="task-header label" @click="changeSortState('label')">Label</div>
					<div class="task-header category" @click="changeSortState('category')">Category</div>
					<div class="task-header due-date" @click="changeSortState('due date')">Due Date</div>
					<div class="task-header priority" @click="changeSortState('priority')">Priority</div>
				</div>

				<!-- Each task has a pair of display modes: 'view' and 'edit' -->
				<div v-for="task in sortedList" class="task-container" @click="toggleComplete(task)">
					<!-- Label -->
					<div class="task-column label" v-if="state==='view'" :class="{strikeout : task.complete}">{{task.label}}</div>
					<div class="task-column label" v-if="state==='edit'">
						<input type="text" v-model="task.label" @input="saveTasks()">
					</div>

					<!-- Category -->
					<div class="task-column category" v-if="state==='view'" :class="{strikeout : task.complete}">{{task.category}}</div>
					<div class="task-column category" v-if="state==='edit'">
						<input type="text" v-model="task.category" @input="saveTasks()">
					</div>


					<!-- Due Date-->
					<div class="task-column due-date" v-if="state==='view'" :class="{strikeout : task.complete}">{{task.dueDate}}</div>
					<div class="task-column category" v-if="state==='edit'">
						<input type="date" v-model="task.dueDate" @input="saveTasks()">
					</div>

					<!-- Priority -->
					<div class="task-column priority" v-if="state==='view'" :class="{strikeout : task.complete}">{{task.priority}}</div>
					<div class="task-column priority" v-if="state==='edit'">
						<input type="number" v-model="task.priority" @input="saveTasks()">
						<button @click="deleteTask(task)" v-if="state==='edit'">Delete</button>
					</div>
					
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="todoapp.js"></script>
	</body>
</html>