body {
	background-color: rgb(20, 20, 20);
	color:aliceblue;
	text-align: center;
}

.grid-container {
	background-color: grey;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.grid-item {
	background-color: darkgrey;
	margin-top: 5px;
	border-color: black;
	border-right: 2px solid black;
}

.outside-left {
	border-left: 0px;
}

.outside-right {
	border-right: 0px;
}

.header-container {
	background-color: none;
	height: 51px;
}

.input-priority {
	width: 40%;
}

.task-header {
	background-color: grey;
	border: 1px solid black;
	float: left;
	height: 50px;
	line-height: 50px;
	width: 20%;
}

.task-container {
	height: 40px;
	margin-top: 5px;
}

.task-column {
	background-color: darkgrey;
	border: 1px solid black;
	float: left;
	height: 37px;
	line-height: 37px;
	width: 20%;
}

.label {
	float: left;
	margin-left: 2%;
	width: 35%;
}

.strikethrough{
	text-decoration: line-through;
	color: grey;
}

.priority1 {
	background-color: greenyellow;
	color: black;
}

.priority2 {
	background-color: yellow;
	color: black;
}

.priority3 {
	background-color: orange;
	color: black;
}

.priority4 {
	background-color: red;
	color: black;
}