<!DOCTYPE html>
<html>
	<head>
		<title>To Do App</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="todoapp.css">
	</head>
	<body>
		<div id="todoapp">
			<h1>To do App</h1>
			<button v-if="state==='edit'" @click="changeState('view')">View</button>
			<button v-if="state==='view'" @click="changeState('edit')">Edit</button>
			<br>
			<input type="text" v-model="newTask">
			<button @click="addTask" :disabled="newTask.length===0">Add Task</button>
			<div>
				<div class="header-container">
					<div class="task-header label">Label</div>
					<div class="task-header category">Category</div>
					<div class="task-header priority">Priority</div>
				</div>
				<div v-for="task in tasks" class="task-container">
					<div class="task-column label" v-if="state==='view'">{{task.label}}</div>
					<div class="task-column label" v-if="state==='edit'"><input type="text" v-model="task.label"></div>
					<div class="task-column category">{{task.category}}</div>
					<div class="task-column priority">
						{{task.priority}}
						<button @click="deleteTask(task)">Delete</button>
					</div>
				</div>
			</div>
			<!--<div class="grid-container">
				<div v-for="task in tasks" class="grid-item outside-left column1">{{task.label}}</div>
				<div v-for="task in tasks" class="grid-item column2">
					{{task.category}}
				</div>
				<div v-for="task in tasks" class="grid-item outside-right column3" v-bind:class="[task.strRow]">
					{{task.priority}}
				</div>
				<div></div>
			</div>-->
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="todoapp.js"></script>
	</body>
</html>