body {
	background-color: rgb(20, 20, 20);
	color:aliceblue;
	text-align: center;
}

button {
	border: 2px solid black;
	border-radius: 15px;
}

.header-container {
	background-color: none;
	height: 51px;
}

.input-priority {
	width: 40%;
}

.task-header {
	background-color: grey;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	height: 50px;
	line-height: 50px;
	width: 20%;
}

.task-container {
	height: 40px;
	margin-top: 5px;
}

.task-column {
	background-color: darkgrey;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	height: 37px;
	line-height: 37px;
	width: 20%;
}

.view-mode-container {
	background-color: gray;
	border-radius: 15px;
	height: 80px;
	width: 95.6%;
	margin-left: 2%;
}

.view-mode-selector {
	background-color: rgb(218, 218, 218);
	border: 2px solid black;
	border-radius: 15px;
	margin-top: 20px;
	height: 40px;
	width: 200px;
}

.new-task-container {
	background-color: gray;
	border-radius: 15px;
	height: 80px;
	width: 95.6%;
	margin-left: 2%;
}

.label {
	float: left;
	margin-left: 2%;
	width: 35%;
}

.sort-indicator {
	float: right;
	vertical-align: middle;
	height: 50px;
	width: auto;
}

.strikethrough{
	text-decoration: line-through;
	color: grey;
}

.priority1 {
	background-color: greenyellow;
	color: black;
}

.priority2 {
	background-color: yellow;
	color: black;
}

.priority3 {
	background-color: orange;
	color: black;
}

.priority4 {
	background-color: red;
	color: black;
}