<!DOCTYPE html>
<html>
	<head>
		<title>To Do App</title>
	</head>
	<body>
		<div id="toDoApp">
			<h1>Header</h1>
			<button v-if="state==='view'" @click="changeState('edit')">Edit</button>
			<button v-if="state==='edit'" @click="changeState('view')">View</button>
			<br>
			<input type="text">
			<button>Add Item</button>
			<br>
			<Button>Sort Alphabetically</Button>
			<Button>Sort By Proirity</Button>
			<p v-if="state==='edit'">Diffrent headers for each cell in the grid</p>
			<ul>
				<li v-if="state==='view'">item 1 Category Proirity Due Date</li>
				<li v-if="state==='edit'">
					<input type="text" value="item 1">
					<input type="text" value="Household">
					<input type="number" min="1" max="5">
					<input type="datetime-local">
					<button>delete</button></li>

				<li v-if="state==='view'" style="color: red;">item 2 Category High Proirity Due Date</li>
				<li v-if="state==='edit'">
					<input type="text" value="item 2">
					<input type="text" value="Bussiness">
					<input type="number" min="1" max="5">
					<input type="datetime-local">
					<button>delete</button></li>

				<li v-if="state==='view'" style="color: blue;">item 3 Category Low Proirity Due Date</li>
				<li v-if="state==='edit'">
					<input type="text" value="item 3">
					<input type="text" value="None">
					<input type="number" min="1" max="5">
					<input type="datetime-local">
					<button>delete</button></li>

			</ul>
		</div>
	</body>
	<script src="https://unpkg.com/vue"></script>
	<script>
		new Vue({
			el : "#toDoApp",
			data : {
				state : "view"
			},
			methods : {
				changeState(newState) {
					this.state = newState
				}
			}
		})
	</script>
</html>